// _base.css

html {
	@include font-default-config($type-config, "epsilon");
    font-size: 100%;
    -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	@include font-default-config($type-config, "epsilon");
}

div {
	> *:last-child {
		margin-bottom: 0
	}
}