// Breakpoints
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
         
        @media screen and (min-width: $value) {
            @content;
        }
    }
}

// Converts pixels to rems based on the base font size
@mixin font-size($px) {
    font-size: $px * 1px;
    font-size: px2rem($px);
}

// Font size and line height px to rems
@mixin font($size, $line-height: false) {
    @include font-size($size);
    @if $line-height {
        line-height: ($line-height / $size); // line height in px is relative to the current fonts size, not the base font size
    }
}

// Auto default font setup
@mixin font-default ($map, $scale) {
    font-family: map-get(map-get($map, $scale), font);
    @include font(map-get(map-get($map, $scale), size), map-get(map-get($map, $scale), line-height));
    font-weight: map-get(map-get($map, $scale), weight);
    color: map-get(map-get($map, $scale), color);
}

// Box Sizing Reset your elements box model
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

// Clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg colour from leaking outside the border: */
}

// Shadows
@mixin box-shadow($top, $left, $blur, $colour, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $colour;
    -moz-box-shadow:inset $top $left $blur $colour;
    box-shadow:inset $top $left $blur $colour;
  } @else {
    -webkit-box-shadow: $top $left $blur $colour;
    -moz-box-shadow: $top $left $blur $colour;
    box-shadow: $top $left $blur $colour;
  }
}

// Placeholder
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}